
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 15px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.dark-mode {
  background-color: #111;
  color: #eee;
}
